.border-text-blue{
    display: flex;
    height: var(--spacingSystem-spacing-xxl, 28px);
    padding: var(--spacingSystem-spacing-xxs, 4px) var(--spacingSystem-spacing-xs, 8px);
    justify-content: center;
    align-items: center;
    gap: var(--spacingSystem-spacing-none, 0px);
    border-radius: var(--spacingSystem-radius-sm, 8px);
    border: 1px solid var(--color-border-primary-default, #176AF2);
    color: var(--color-text-primary-default, #176AF2);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 16.8px */
}
.add-btn-bg-blue{
    display: flex;
    height: var(--spacingSystem-spacing-xxl, 28px);
   
    justify-content: center;
    align-items: center;
   
    border-radius: var(--spacingSystem-radius-sm, 8px);
    background: var(--color-brand-primary, #176AF2);
    color: var(--color-text-text-inverse, #FFF);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 16.8px */
}