.book-demo-text-blue{
    color: var(--color-text-primary-default, #176AF2);
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.book-demo-text-gray{
color: var(--color-text-text-subtle, #505050);
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.list li{
    color: var(--color-text-text-subtle, #505050);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.book-demo-form-border{
    border-radius: var(--spacing-6, 24px);
border-top: 1px solid var(--color-border-border-subtlest, #E1E1E1);
border-right: var(--spacing-0, 1px) solid var(--color-border-border-subtlest, #E1E1E1);
border-bottom: var(--spacing-0, 1px) solid var(--color-border-border-subtlest, #E1E1E1);
border-left: var(--spacing-0, 1px) solid var(--color-border-border-subtlest, #E1E1E1);
}
.form-title{
    color: var(--color-text-text-default, #1C1C1C);

font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.form-secont-text{
    color: var(--color-text-text-subtle, #505050);

font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.book-demo-input-text{
    color: var(--color-text-text-subtle, #505050);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.08px;
}
.book-demo-input-border{
    border-radius: 12px;
border-top: 1px solid var(--primary-gray-50, #C2C2C2);
border-right: var(--spacing-0, 1px) solid var(--primary-gray-50, #C2C2C2);
border-bottom: var(--spacing-0, 1px) solid var(--primary-gray-50, #C2C2C2);
border-left: var(--spacing-0, 1px) solid var(--primary-gray-50, #C2C2C2);
background: var(--primary-gray-10, #FFF);
}
.book-demo-input-border-red{
    /* border: var(--spacing-0, 1px) solid var(--Secondary-Error, ); */
    border-radius: 12px;
    border-top: 1px solid var(--primary-gray-50, #FF3B30);
    border-right: var(--spacing-0, 1px) solid var(--primary-gray-50, #FF3B30);
    border-bottom: var(--spacing-0, 1px) solid var(--primary-gray-50,#FF3B30);
    border-left: var(--spacing-0, 1px) solid var(--primary-gray-50, #FF3B30);
    background: var(--primary-gray-10, #FFF);
}
.book-demo-input-border-green{
    border-radius: 12px;
    border-top: 1px solid var(--primary-gray-50, #35C95A);
    border-right: var(--spacing-0, 1px) solid var(--Secondary-Success, #35C95A);
    border-bottom: var(--spacing-0, 1px) solid var(--Secondary-Success, #35C95A);
    border-left: var(--spacing-0, 1px) solid var(--Secondary-Success, #35C95A);
    background: var(--primary-gray-10, #FFF);
}
.book-demo-input-label{
    color: var(--primary-gray-100, #0A0A0A);
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 142.857% */
letter-spacing: 0.07px;
}
.radio-btn-top-text{
    color: var(--primary-gray-100, #0A0A0A);

font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 142.857% */
letter-spacing: 0.07px;
}
.submit-btn{
border-radius: var(--spacing-system-radius-md, 12px);
background: var(--color-brand-primary, #176AF2);
color: var(--color-text-text-inverse, #FFF);
text-align: center;
/* H1/SemiBold */
height: 44px;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 120%; /* 21.6px */
}
.bookdemo-select-item{
    display: flex;
    height: 36px;
    padding: var(--spacingSystem-spacing-xxs, 4px) var(--spacingSystem-spacing-xs, 8px);
    align-items: center;
    gap: 8px;
    align-self: stretch;
}
.bookdemo-select-show{
    display: flex;
    /* padding: var(--spacingSystem-spacing-none, 0px) 0px; */
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--spacingSystem-spacing-none, 0px);
    align-self: stretch;
    border-radius: var(--spacingSystem-radius-sm, 8px);
    /* border: var(--spacing-0, 1px) solid var(--color-border-border-active, #B9B9B9); */
    background: var(--color-background-bg, #FFF);
}