.sidebar-border{
    border-radius: var(--spacing-system-radius-none, 0px);
border-right: 1px solid var(--color-border-border-subtlest, #E1E1E1);
border-bottom: var(--spacing-0, 0px) solid var(--color-border-border-subtlest, #E1E1E1);
border-left: var(--spacing-0, 0px) solid var(--color-border-border-subtlest, #E1E1E1);
background: var(--color-background-bg, #FFF);
}
.arow-bg{
    border-radius: var(--spacing-system-radius-sm, 8px) var(--spacing-system-radius-none, 0px) var(--spacing-system-radius-none, 0px) var(--spacing-system-radius-sm, 8px);
background: var(--color-border-border-subtlest, #E1E1E1);
}
.sidebar-nav-item{
    display: flex;
padding: var(--spacing-system-spacing-xs, 8px) var(--spacing-system-spacing-md, 16px);
align-items: center;
gap: var(--spacing-system-spacing-xs, 8px);
align-self: stretch;
border-radius: var(--spacing-system-radius-sm, 8px);
}
.sidebar-nav-item-active{
    display: flex;
    padding: var(--spacing-system-spacing-xs, 8px) var(--spacing-system-spacing-md, 16px);
    align-items: center;
    gap: var(--spacing-system-spacing-xs, 8px);
    align-self: stretch;
    border-radius: var(--spacing-system-radius-sm, 8px);
background: var(--color-background-bg-primary-default, #176AF2);

/* Glow */
box-shadow: 0px 0px 8px 4px rgba(120, 169, 247, 0.50);
}
.sidebar-sub-box{
    padding-top: 7px;
    display: flex;
   padding-left: var(--spacing-system-spacing-md, 16px);
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
  gap: var(--spacing-system-spacing-xxs, 4px);
   align-self: stretch;
}
.sidebar-sub-item{
display: flex;
padding: 7px 0px;
align-items: center;
align-self: stretch;
}
.sidebar-sub-item-active{
border-radius: var(--spacing-system-radius-sm, 8px);
background: var(--color-background-bg-surface-primary, #E8F0FE);
}
.sidebar-sub-item-text{
color: var(--color-text-text-default, #1C1C1C);
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 120%; /* 16.8px */
}
.sidebar-sub-item-text-active{
    color: var(--color-text-primary-default, #176AF2);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 16.8px */
    }
.sidebar-sub-item div{
display: flex;
width: 24px;
height: 16px;
padding-left: var(--spacing-system-spacing-xs, 8px);
align-items: center;
gap: 8px;
}
.sidebar-upgrade-btn{
    display: flex;
    width: 150px;
    height: var(--spacing-system-spacing-xxl, 28px);
    padding: var(--spacing-system-spacing-xxs, 4px) var(--spacing-system-spacing-xs, 8px);
    justify-content: center;
    align-items: center;
    gap: var(--spacing-system-spacing-none, 0px);
    border-radius: var(--spacing-system-radius-sm, 8px);
    background: var(--color-brand-primary, #176AF2);
    color: var(--color-text-text-inverse, #FFF);
    text-align: center;
    /* Body/Regular */
    
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 16.8px */
}

.sidebar-scrollbar::-webkit-scrollbar{

   width: 3px;
   margin: 10px 0px ;
   padding-top: 5px;
   background-color: #E1E1E1;
   border-radius: 8px;
}
.sidebar-scrollbar::-webkit-scrollbar-thumb{
    background-color: #176AF2;
    border-radius: 8px;
}